<h1>Add dose description to <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "add", class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', cocktail_path(@cocktail) %>
